## Import library

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = "C:/Users/hardi/Documents/Instacart_Baskey_analysis"

In [3]:
df_merge_ord_pro = pd.read_pickle(os.path.join(path,"Data", "prepare_data", "order_data_product_data_combine.pkl"))

In [4]:
df_merge_ord_pro.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [5]:
##find Busiest of the week
df_merge_ord_pro['orders_day_of_the_week'].value_counts()

orders_day_of_the_week
0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: count, dtype: int64

## create for loop define busiest data

In [6]:
result = []
for name in df_merge_ord_pro['orders_day_of_the_week']:
    if name == 0:
        result.append("Busiest day")
    elif name == 4:
        result.append("Slowest Day")
    else:
        result.append("regularbusy day")

In [7]:
df_merge_ord_pro['busiest_day'] = result

In [8]:
df_merge_ord_pro.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,regularbusy day
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,regularbusy day
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,regularbusy day
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Slowest Day

## create for loop to define mutiples busiest day

In [9]:
result_2 = []
for val in df_merge_ord_pro['orders_day_of_the_week']:
    if val == 0 or val == 1:
        result_2.append('Busiest day')
    elif val == 3 or val == 4:
        result_2.append('slowest day')
    else:
        result_2.append('regular day')

In [10]:
df_merge_ord_pro['busiest_days'] = result_2

In [11]:
df_merge_ord_pro.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,regularbusy day,regular day
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,regularbusy day,regular day
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Busiest day,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,regularbusy day,slowest day
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Slowest Day,slowest day

In [12]:
df_merge_ord_pro['busiest_days'].value_counts()

busiest_days
regular day    12916527
Busiest day    11864860
slowest day     7624654
Name: count, dtype: int64

In [13]:
df_merge_ord_pro['order_hour_of_day'].value_counts()

order_hour_of_day
10    2761862
11    2736242
14    2689251
15    2662246
13    2661057
12    2618613
16    2535313
9     2454273
17    2087721
8     1718182
18    1636566
19    1258352
20     976182
7      891082
21     795658
22     634247
23     402335
6      290500
0      218786
1      115706
5       87964
2       69377
4       53245
3       51281
Name: count, dtype: int64

## create function that fine most orders in the hours

In [21]:

result_3 = []
for name in df_merge_ord_pro['order_hour_of_day']:
    if name in [10,11,14,15,13,12,16,9]:
        result_3.append('most orders')
    elif name in [3,4,2,5,1]:
        result_3.append('Fewest orders')
    else:
        result_3.append('Average orders')

In [22]:
df_merge_ord_pro['busiest_period_of_day'] = result_3

In [23]:
df_merge_ord_pro['busiest_period_of_day'].value_counts()

busiest_period_of_day
most orders       21118857
Average orders    10909611
Fewest orders       377573
Name: count, dtype: int64

## export pickle file

In [18]:
df_merge_ord_pro.to_pickle(os.path.join(path,"Data", "prepare_data","odrer_product_update_combine_data.pkl"))