## import library

In [1]:
import pandas as pd
import numpy as np
import os

# import data and define pathÂ¶

In [2]:
path = "C:/Users/hardi/Documents/Instacart_Baskey_analysis"

In [3]:
df_prod = pd.read_csv(os.path.join(path,"Data", "prepare_data", "clean_products_data.csv"))

In [4]:
df_order_com = pd.read_pickle(os.path.join(path,"Data", "prepare_data", "order_product_combine_data.pkl"))

In [5]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_order_com.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [7]:
df_prod.shape

(49677, 5)

In [8]:
df_order_com.shape

(32434489, 10)

In [9]:
df_prod.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [10]:
df_order_com.isnull().sum()

order_id                  0
user_id                   0
order_number              0
orders_day_of_the_week    0
order_hour_of_day         0
days_since_last_order     0
product_id                0
add_to_cart_order         0
reordered                 0
_merge                    0
dtype: int64

In [11]:
#delete merge columns
df_order_com = df_order_com.drop(columns='_merge')

In [12]:
#combine both dataframe
df_merge = df_prod.merge(df_order_com, on='product_id', indicator=True)

In [13]:
df_merge.shape

(32406041, 14)

In [20]:
df_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [21]:
df_merge.isnull().sum()

product_id                0
product_name              0
aisle_id                  0
department_id             0
prices                    0
order_id                  0
user_id                   0
order_number              0
orders_day_of_the_week    0
order_hour_of_day         0
days_since_last_order     0
add_to_cart_order         0
reordered                 0
_merge                    0
dtype: int64

In [23]:
df_merge['_merge'].value_counts()

_merge
both          32406041
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
#export file in pickle format
df_merge.to_pickle(os.path.join(path,"Data", "prepare_data","order_data_product_data_combine.pkl"))